/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados para impresión */
@media print {
  #form-container {
    @apply w-[1024px] max-w-[1024px] !important;
  }
  
  input {
    @apply border border-black bg-white !important;
  }
}

/* src/styles.css */
/* Estilos globales para todos los formularios */
@media (max-width: 768px) {
  .form-container {
      min-width: 100%;
      padding: 0.5rem;
  }

  .input-group {
      min-width: 300px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
  }

  .input-group::-webkit-scrollbar {
      display: none;
  }

  .table-responsive {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
  }

  .checkbox-group {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 0.5rem;
  }
}